
@keyframes Paw-fade {
    0%{
        opacity: 0.7;
    }
    100%{
        opacity: 0;

    }
}
#art-container {
    // border: 2px solid red;
    width: 50%;
    min-width: 350px;
    height: 50vh;
   
    position: relative;

    .paws {
        width: 15%;
        position: relative;
    }
    
    #paw-one {
        animation: Paw-fade 3s forwards 0.5s infinite linear;
        transform: rotate(-10deg);
        left: 55%;
        top: 80%;
       
    }
    #paw-two {
        animation: Paw-fade 3s forwards 0.9s infinite linear;
        transform: rotate(20deg);
        left: 15%;
        top: 60%;
    }
    #paw-three {
        animation: Paw-fade 3s forwards 1.2s infinite linear;
        left: 15%;
        top: 30%;

    }
    #paw-four {
        animation: Paw-fade 3s forwards 1.7s infinite linear;
        transform: rotate(30deg);
        left: -25%;
        top: 20%;

    }
    #paw-five {
        
        animation: Paw-fade 3s forwards 2.1s infinite linear;
        left: -25%;
        top: -10%;

    }
    
    
}