$kimchi-brown: #e2a66b;


h1 {
    font-family: 'Anton', sans-serif;
    
    text-align: center;
    
    
    color: $kimchi-brown;  
   
}

.container {
    background: $kimchi-brown;
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 5px 5px 15px 5px #e4c19e; 
    box-shadow: 5px 5px 15px 5px #e4c19e;
}
.prev {
    user-select: none; 
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 20%;
    top: 150px;
}
.next {
    user-select: none; 

    color: white;

    font-size: 2rem;
    position: absolute;
    right: 20%;
    top: 150px;
}
.mySlides {
    height: 20rem;
    width: 15rem;
    margin: 0 auto;
}
.mySlides .numbertext {
    position: absolute;
}
.mySlides img {
    display: block;
    object-fit: cover;
}

.caption-container {
    text-align: center;
    color: white;
}



.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    width: 20%;
}
.column img{
    display: block;
    object-fit: cover;
}