

@import './_navbar';
@import './_section-one', './pawArt.scss';
@import './_section-two';
@import './_section-three';



// Scroll Stuff
.scroll-down #navbar {
    transform: translate3d(0, -250%, 0);
}
.scroll-up #navbar {
    transform: translate3d(0, 250%, 0);
}
// -----------------------
body{
    height: 300vh;
    
    margin: 0;
    padding: 0;
    background: white;

    

}






