@import './_navbar';




// Scroll Stuff
.scroll-down #navbar {
    transform: translate3d(0, -150%, 0);
}
.scroll-up #navbar {
    transform: translate3d(0, 150%, 0);
}
// -----------------------
body, html{
    
    margin: 0;
    padding: 0;
}







